/* fonts *******************************************************************************/

.fontMaroon { color:maroon; } 
.fontMaroonBold { color:maroon; font-weight:bold;}
.fontSmaller { font-size:smaller; }
